* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(34, 34, 34, 0.80);
  color: #d4be98;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#window {
  margin: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #1d2021;
  font-size: 14px;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

button:hover {
  background-color: #ebdbb2;
}

#workspaces button {
  padding: 0 4px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button.focused {
  background-color: #d4be98;
  color: #282828;
  border-top: 2px solid #d3869b;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #d4be98;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  border-radius: 6px;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d4be98;
  color: #282828;
  margin-top: 4px;
  margin-bottom: 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  font-size:14px;
  font-weight: bold;
}

#battery icon {
  color: red;
}

#battery.charging, #battery.plugged {
  color: #d4be98;
  background-color: #a9b665;
}

@keyframes blink {
  to {
    background-color: #d4be98;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background-color: #ea6962;
  color: #d4be98;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #ea6962;
  color: #d4be98;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #eb4d4b;
  color: #d4be98;
}

#tray {
  color: #d4be98;
  background-color: rgba(18, 18, 18, 0.40);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
